body {
    display: inline-block;
    color: #b4a5a5;
    min-height: 100vh;
    background-color: #151515;
    margin: 0;
    padding: 0;


}

.barraInicial{
  position: fixed;
  background-color: #301b3f;
  padding: 10px;
  top: 0;
  width: 100%;
  color: white;
  text-align: left;
}

.stories{
  background-color: #3c415c;
  padding: 3px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  width: auto;
  height: auto;
  border-radius: 2px;
  border-style: solid;
  border-color: #b4a5a5;
  border-width: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-photo-storie {
    display: inline-flex;
    max-height:auto;
    max-width:auto;
    border-radius: 50%;
    overflow:hidden;
    margin: 5px;
    border-style: dotted;
    border-width: 5px;
    background: linear-gradient(to right, lightblue, orange, yellow,pink);*/
}

.profile-photo-storie img{
  width:100px;
  height:inherit;
}

@media only screen and (max-width: 1260px) {
  .profile-photo-storie img{
    width:70px;
    height:inherit;
  }
}
@media only screen and (max-width: 937px) {
  .profile-photo-storie img{
    width:40px;
    height:inherit;
  }
}
@media only screen and (max-width: 680px) {
  .profile-photo-storie img{
    width:38px;
    height:inherit;
  }
}

.timeline{

}
.card {
  margin: 5%;
  width: 90%;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  color: white;
  background-color: #301b3f;
  padding: 20px 26px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3c415c;
  color: white;
  text-align: center;
}
.footer a{
  color: white;
}
